.nav-link {
  display: block;
  padding: 0.75rem 1rem;
  font-weight: 500;
  color: #ffff;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
/* background-color: rgba(147,116,192,1); */

.nav-link:hover {
  /* color: rgb(214,151,184); */
  color: rgb(214, 151, 184);
}

.nav-scrolled {
  background-color: rgb(147,116,192); /* Violeta */
}
