.nav-link {
  display: block;
  padding: 0.75rem 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(214, 151, 184);
}

.nav-scrolled {
  background-color: rgb(147,116,192); /* Violeta */
}
